<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.online_shop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lion_shopping"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lion_shopping"
        android:supportsRtl="true"
        android:theme="@style/Theme.Online_shop"
        android:usesCleartextTraffic="true">
        <activity android:name=".ProductCart_Detail_Activity"></activity>
        <activity android:name=".Product_Buy_Activity" />
        <activity android:name=".Shopping_Cart_Activity">

        </activity>
        <activity android:name=".Login_Register.Register" />
        <activity android:name=".Product_Detail_Activity" />
        <activity android:name=".Product_Add_Activity" />
        <activity android:name=".Login_Register.Login">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>